.MuiDialog-paperWidthSm {
  max-width: none !important;
  width: 80%;
  height: 80%;
}

.nav-item {
  cursor: pointer;
}

.tab-content {
  height: 100%;
}

.tab-pane.active {
  width: 100%;
  height: 100%;
}