#schedule-container {
    overflow: auto;
}
.true {
    text-decoration: line-through;
    text-decoration-style: solid black;
    color: gray;
} 
.false {
    text-decoration: none;
    color: black
}