#home {
  width: 100%;
  height: 100%;
  background-image: url('./home.png');
  background-size: 100% 100%;
  /* background-position: center; */
}
h1 {
  margin-bottom: 30px;
}
.fade {
  transition: opacity 1s linear;
}
#google-logo{
  width: 25px;
  height: 25px;
}